@font-face {
    font-family: 'Kamikaze';
    src: url('../font/Kamikaze.woff') format('woff'); /* Specifica il percorso del file WOFF */
    font-weight: normale; /* Peso del font */
    font-style: normale;  /* Stile del font */
}