#display {
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: stretch;
    position: relative;
    overflow: hidden;
    width: 360px;
    height: 420px;

    .col,
    .trave {
        width: 60px;
        transition: 0.3s;
        position: relative;
        overflow: hidden;

        span {
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            flex-wrap: wrap;
            height: 420px;
        }

        .item {
            flex-grow: 1;
            /* Fai espandere ogni immagine per occupare lo spazio disponibile */
            // width: calc(20% - 4px);
            width: 100%;
            padding: 2px;
            /* Aggiungi margine tra le immagini */
            text-align: center;
            overflow: hidden;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            // background-color: #5c1b1e;
            border: 0.25px solid goldenrod;
            position: relative;
            // background-color: #5c1b1e;
            // background-attachment: fixed;

            img {
                text-align: center;
                width: 100%;
            }
        }
    }
}

.motif {
    // motif background
    --s: 17px;
    --_s: calc(2*var(--s)) calc(2*var(--s));
    --_g: 35.36% 35.36% at;
    
    &.base {
        --c: #5c1b1e;
        --_c: #0000 66%, #912228 68% 70%, #0000 72%;
    }

    &.green {
        --c: #2E5624;
        --_c: #0000 66%, #3e8a2b 68% 70%, #0000 72%;
    }

    &.blue {
        --c: #274D7C;
        --_c: #0000 66%, #3970b4 68% 70%, #0000 72%;
    }

    &.purple {
        --c: #5D2771;
        --_c: #0000 66%, #8938a7 68% 70%, #0000 72%;
    }

    &.gold {
        --c: rgb(189, 140, 17);
        --_c: #0000 66%, goldenrod 68% 70%, #0000 72%;
    }

    background:
        radial-gradient(var(--_g) 100% 25%, var(--_c)) var(--s) var(--s)/var(--_s),
        radial-gradient(var(--_g) 0 75%, var(--_c)) var(--s) var(--s)/var(--_s),
        radial-gradient(var(--_g) 100% 25%, var(--_c)) 0 0/var(--_s),
        radial-gradient(var(--_g) 0 75%, var(--_c)) 0 0/var(--_s),
        repeating-conic-gradient(var(--c) 0 25%, #0000 0 50%) 0 0/var(--_s),
        radial-gradient(var(--_c)) 0 calc(var(--s)/2)/var(--s) var(--s) var(--c);
}

.supporto {
    width: 16.666%;
    transform: translateX(-100%);
}

::-webkit-scrollbar {
    display: none;
}