#display {
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: stretch;
    position: relative;
    overflow: hidden;
    width: 480px;
    height: 560px;
    font-family: 'Kamikaze';

    --c: #111;
    --s: 30px;
    --_s: calc(2*var(--s)) calc(2*var(--s));
    --_g: 35.36% 35.36% at;
    --_c: #0000 66%, #444 68% 70%, #0000 72%;

    background:
        radial-gradient(var(--_g) 100% 25%, var(--_c)) var(--s) var(--s)/var(--_s),
        radial-gradient(var(--_g) 0 75%, var(--_c)) var(--s) var(--s)/var(--_s),
        radial-gradient(var(--_g) 100% 25%, var(--_c)) 0 0/var(--_s),
        radial-gradient(var(--_g) 0 75%, var(--_c)) 0 0/var(--_s),
        repeating-conic-gradient(var(--c) 0 25%, #0000 0 50%) 0 0/var(--_s),
        radial-gradient(var(--_c)) 0 calc(var(--s)/2)/var(--s) var(--s) var(--c);
 
    .col {
        width: calc(100% / 6);
        transition: 0.3s;
        position: relative;
        overflow: hidden;

        span {
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            flex-wrap: wrap;
            height: 100%;
        }

        .item {
            flex-grow: 1;
            /* Fai espandere ogni immagine per occupare lo spazio disponibile */
            // width: calc(20% - 4px);
            width: 100%;
            padding: 2px;
            /* Aggiungi margine tra le immagini */
            text-align: center;
            overflow: hidden;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            // background-color: #5c1b1e;
            border: 0.25px solid goldenrod;
            position: relative;
            
            img {
                text-align: center;
                width: 90%;
                aspect-ratio: 1 / 1;
                z-index: 5;
            }
        }
    }
}

.motif {
    transition: 0.25s;
    --opacacita: 0.7;
    
    &.base {
        --c: rgba(92, 27, 30, var(--opacacita));
        --w: rgb(92, 27, 30);
    }

    &.green {
        --c: rgba(46, 86, 36, var(--opacacita));
        --w: rgb(46, 86, 36);
    }

    &.blue {
        --c: rgba(39, 77, 124, var(--opacacita));
        --w: rgb(39, 77, 124);
    }

    &.purple {
        --c: rgba(93, 39, 113, var(--opacacita));
        --w: rgb(93, 39, 113);
    }

    &.gold, &.win {
        --c: rgba(189, 140, 17, 0.4);
    }

    &.gold {
        --w: rgb(255, 242, 0);
    }

    &.win {
        position: relative;

        &::after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            width: calc(100% - 15px);
            height: calc(100% - 15px);
            // border: 2px solid rgb(255, 242, 0);
            box-shadow: 
                0 0 0 1px gold,
                0 0 0 4px var(--w),
                0 0 0 5px gold;
            transform: translate(-50%, -50%);
            border-radius: 3px;
        }
    }

    background-color: var(--c);
}

#vincita {
    display: none;
    position: fixed;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Kamikaze';
    color: gold;
    -webkit-text-stroke: 3px #111;
    font-size: 70px;
    z-index: 6;

    b {
        font-family: monospace;
    }
}

#controller {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    width: 98%;
    z-index: 7;

    #saldo {
        display: flex;
    }

    #spin {
        position: fixed;
        bottom: 20px;
        right: 20px;
        font-size: 60px;
        padding: 0;
        opacity: 0.5;

        &:hover {
            opacity: 1;
            background-color: transparent;
        }

        #giri_bonus {
            display: none;
            position: absolute;
            bottom: 100%;
            left: 50%;
            transform: translateX(-50%);
            font-size: 25px;
            font-weight: bold;
        }
    }
}
 
#wallet {
    font-weight: bold;
    font-size: var(--p-font-size);
    padding: 10px;

    &:hover {
        background-color: transparent;
    }
}

#scatter_container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    background-image: url('../img/yin_yang.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 80%;
    height: 100%;
    display: none;
    
    #simbolo_espansione_scatter, #numero_giri {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    #simbolo_espansione_scatter {
        left: 22%;
        
        img {
            width: 12vw;
        }
    }

    #numero_giri {
        right: 22%;
        font-size: 12vw;
        font-family: 'Kamikaze';
        -webkit-text-stroke: 2px goldenrod;
        color:rgb(92, 27, 30);
    }
}

#informazioni {
    img {
        width: 50px;
    }
}

::-webkit-scrollbar {
    display: none;
}