#display {
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: stretch;
    position: relative;
    overflow: hidden;
    width: 360px;
    height: 420px;

    .col, .trave {
        width: 60px;
        transition: 0.3s;
        position: relative;
        overflow: hidden;

        span {
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            flex-wrap: wrap;
            height: 420px;
        }

        .item {
            flex-grow: 1;
            /* Fai espandere ogni immagine per occupare lo spazio disponibile */
            // width: calc(20% - 4px);
            width: 100%;
            padding: 2px;
            /* Aggiungi margine tra le immagini */
            text-align: center;
            overflow: hidden;
            display: inline-flex;
            justify-content: center;
            align-items: center;

            img {
                text-align: center;
                width: 100%;
                max-height: 100%;
            }
        }
    }
}

.supporto {
    width: 16.666%;
    transform: translateX(-100%);
}

::-webkit-scrollbar {
    display: none;
}